<div class="container">
  <h1>Angualar</h1>
  <h2 class="mb-4">
    <a href="#"
      target="_blank">
      Resolver Guard Angualar
    </a>
  </h2>

  <ul class="nav nav-pills card-header-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin">
        Admin
      </a>
    </li>
  </ul>
  <div>
    <p>Is Admin: {{ userService.currentUser.isAdmin }}</p>
    <button mat-raised-button color="primary" (click)="toggleRole()">
      Toggle role
    </button>
  </div>
</div>